/* here is where you put:
1. element selectors
2. media queires
3. global pseudo selectors (like :root)
4. class selectors for all components to use
*/

:root {
  /* making a theme */
  --bg-color1: #890346;
  --bg-color2: #C096B0;
  --ft-color1: black;
  --ft-color2: white;

}

body {
  background-color: var(--bg-color1);
  color: var(--ft-color2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar{
  display: flex;
  justify-content: space-between;
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  height: 50px;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.navBar a {
  float: left;
  /* display: block; */
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.navBar a:hover {
  background-color: #ddd;
  color: black;
}

header{
  padding-top: 50px;
  font-size: 3rem;
}

#about{
  display: flex;
  border: 2px solid red;
  height: 500px;
  margin: 50px 0;
  padding: 50px 0;
}

#skills{
  border: 2px solid red;
  height: 500px;
  width: 100%;
  margin: 50px 0;
  padding: 50px 0;
  background-color: var(--bg-color2);
}

#projects{
  border: 2px solid red;
  height: 500px;
  margin: 50px 0;
  padding: 50px 0;
}

#contacts{
  border: 2px solid red;
  height: 500px;
  margin: 50px 0;
  padding: 50px 0;
}
