/* here is where you put:
1. element selectors
2. media queires
3. global pseudo selectors (like :root)
4. class selectors for all components to use
*/

:root {
  /* making a theme */
  --bg-color1: #F8E3EC;
  --bg-color2: #A76A86;
  --bg-color3: #920539;
  --ft-color1: white;
  --ft-color2: #333;
}

body {
  background-color: var(--bg-color1);
  color: var(--ft-color2);
  display: flex;
  flex-direction: column;
  /* align-items: center;*/
  margin: 0;
  
  overflow-x: hidden;
}

.separator {
  width: 270px;
  border-top: 3px solid var(--bg-color3);
}

#navBar{
  display: flex;
  justify-content: space-between;
  background-color: var(--ft-color1); /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  height: 50px;
  max-width: 100%;
  opacity: .70;
}

#navBar a {
  float: left;
  color: var(--ft-color2);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
}

#navBar a:hover {
  background-color: #ddd;
  color: black;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
}

header>h1{
  margin-bottom: 0px;
  font-weight: 600;
}
header>h2{
  font-weight: 500;
}

#about{
  display: flex;
  border-radius: 50px;
  height: 500px;
  align-items: center;
  justify-content: center;
  min-width: 98.8vw;
}

#about >p{
  padding: 25px;
  font-size: larger;
}

#skills{
  display: flex;
  background-color: var(--bg-color2);
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#skills>h2{
  padding-top: 25px;
  color: var(--ft-color1);

}

#skills >div>p{
  border: 2px solid var(--ft-color1);
  padding: 5px;
  border-radius: 50px;
  text-align: center;
  font-size: larger;
  color: var(--ft-color1);
}

#skills >div>p:hover{
  border: 2px solid var(--ft-color2);
  color: var(--ft-color2);
  cursor: default;
}

#skills>div{
  display: grid;
  grid-auto-rows: 50px;
  grid-template-areas: 
  "header header header header"
  "main main main main"
  "main main main main";
  min-width: 98.8vw;
  margin: 50px 0;
  background-color: var(--bg-color2);
  align-items: center;
  justify-content: space-evenly;
}

#projects{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects>h2{
  padding-top: 25px;
}

#projects>#preview{
  align-self: center;
}

#preview >#dec{
  grid-area: dec;
  padding: 10px;
}

#preview >image{
  grid-area: img;
}
#preview>#preLink{
  grid-area: link;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}
#preview>#preLink>a{
  color: var(--ft-color2);
}
#preview>#preLink>a:hover{
  color: var(--bg-color2);
}

#preview{
  display: grid;
  grid-template-areas: 
  "dec img"
  "dec link";
  padding: 70px 0;
}

#contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color2);
  height: 400px;
  margin: 50px 0;
  color: var(--ft-color1);
}

#contactLink{
  display: flex;
  padding: 50px 0;
}

#contactLink>div{
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactLink>div>a{
  color: var(--ft-color1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contactLink>div>a:hover{
  color: var(--ft-color2);
}

@media (max-width: 1000px) {
  body {
    /* background-color: navy; */
  }
  #about{
    flex-direction: column;
    margin: 25px 0;
  }
  #projects>#preview{
    display: flex;
    flex-direction: column;
  }
  #projects>#preview>#dec{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 750px) {
  body {
    /* background-color: forestgreen; */
    align-items: normal;
  }
  header{
  padding: 50px 0;
  text-align: center;
  }
  #skills>div>p{
    font-size: 15px;
  }
  #preview >img{
    width: 90%;
    align-self: center;
    object-fit: scale-down;
  }
  #dec>h3{
    padding-right: 15px;
  }
  #contactLink>div{
    padding: 0 25px;
  }
}